.arrow-right {
  margin-left: 0.5rem;
  width: 2rem;
}

.primary {
  filter: invert(72%) sepia(37%) saturate(7101%) hue-rotate(352deg)
    brightness(102%) contrast(101%);
}

.white {
  filter: invert(99%) sepia(80%) saturate(83%) hue-rotate(137deg)
    brightness(119%) contrast(100%);
}
