@import './color.scss';

.button {
  border-radius: 0.7rem;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: 'PTRootMedium', sans-serif;
}

.button-primary {
  background-color: $color-primary;
  color: $color-white;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.button-primary:hover {
  background-color: $color-primary-light;
}

.button-secondary {
  background-color: transparent;
  border: 0.1rem solid $color-primary;
  color: $color-primary;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.button-secondary:hover {
  background-color: $color-primary-light;
  color: $color-white;
}

.medium {
  width: 49%;
  height: 3.5rem;
}

.large {
  width: 49%;
  height: 4.5rem;
}

@media (max-width: 719px) {
  .button {
    border-radius: 1rem;
  }

  .medium {
    height: 6.5rem;
  }

  .large {
    height: 8.5rem;
  }
}
