@import './color.scss';

.button {
  border-radius: 0.7rem;
  border: none;
  cursor: pointer;
  outline: none;
}

.button-primary {
  background-color: $color-primary;
  color: $color-white;
}

.button-secondary {
  background-color: transparent;
  border: 0.1rem solid $color-primary;
}

.medium {
  width: 10rem;
  height: 3.5rem;
}

.large {
  width: 15rem;
  height: 4.5rem;
}
