@import './color.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 3rem;

  .title {
    img {
      width: 13.8rem;
      height: 2.4rem;
    }
  }

  .navigation {
    display: flex;
    align-items: center;

    nav ul {
      list-style: none;

      li {
        display: inline-block;
        font-size: 1.4rem;
        font-family: 'PTRootBold', sans-serif;
        margin-right: 2rem;
      }
    }

    .button-container {
      width: 21rem;
      display: flex;
      justify-content: space-between;
    }
  }
}
