@import './color.scss';

// SECTION SHOWCASE
.showcase {
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase-image {
  width: 90vw;
}

// SECTION: WEATHER
.weather {
  height: 40vh;
  background-color: yellowgreen;
}
