@import './color.scss';

// SECTION SHOWCASE
.showcase {
  height: 145vh;
}

// SECTION: WEATHER
.weather {
  height: 50vh;
  background-color: $color-grey-dark;
  display: flex;
  justify-content: center;
  align-items: center;
}

// SECTION: INBOX FEATURES
.inbox-features {
}

// SECTION: DISPOSITION FEATURES
.disposition-features {
}

// SECTION: USER SESSION
.usersession-features {
}

// SECTION: TESTIMONIAL
.testimonial {
}

// SECTION: OTHER FEATURES
.other-features {
}

// SECTION: CONTACT
.contact {
}

@media (min-width: 720px) and (max-width: 1024px) {
  .showcase {
    height: 110vh;
  }

  .weather {
    height: 40vh;
  }
}

@media (max-width: 719px) {
  .showcase {
    height: 90vh;
  }

  .weather {
    height: 35vh;
  }
}
