@import './color.scss';

// SECTION SHOWCASE
.showcase {
  height: 135vh;
}

// SECTION: WEATHER
.weather {
  height: 50vh;
  background-color: $color-grey-darker;
  display: flex;
  justify-content: center;
  align-items: center;
}

// SECTION: INBOX FEATURES
.inbox-features {
}

// SECTION: DISPOSITION FEATURES
.disposition-features {
}

// SECTION: USER SESSION
.usersession-features {
}

// SECTION: TESTIMONIAL
.testimonial {
}

// SECTION: OTHER FEATURES
.other-features {
}

// SECTION: CONTACT
.contact {
  height: 100vh;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 20rem 0 20rem;

  .contact-started {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    h2 {
      font-family: 'PTRootMedium', sans-serif;
      font-size: 4.2rem;
      text-align: center;
      margin-bottom: 5rem;
    }
    .button-contact {
      width: 31rem;
      display: flex;
      justify-content: space-between;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
      list-style: none;
      margin-bottom: 3rem;

      li {
        display: inline-block;
        font-size: 1.4rem;
        font-family: 'PTRootBold', sans-serif;
        margin-right: 0.5rem;

        .menu-separator {
          width: 1rem;
          display: inline-block;
          border-top: 0.2rem solid $color-grey-darker;
          margin: 0 1.2rem;
          position: relative;
          top: -0.3rem;
        }
      }
    }

    .icon-list {
      width: 15vw;
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;
    }

    .address {
      font-family: 'PTRootMedium', sans-serif;
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 2rem;
      color: $color-light-black;
    }

    .copyright {
      font-size: 1.2rem;
      color: $color-light-black;
      margin-bottom: 2rem;
    }

    .taptalk-icon {
      width: 4rem;
    }
  }
}
