@import './color.scss';

@font-face {
  font-family: 'PTRoot';
  font-weight: normal;
  src: local('PTRoot'),
    url('../assets/fonts/PTRoot/PT-Root-UI_Regular/PT-Root-UI_Regular.otf')
      format('opentype');
}

@font-face {
  font-family: 'PTRootMedium';
  font-weight: 500;
  src: local('PTRootMedium'),
    url('../assets/fonts/PTRoot/PT-Root-UI_Medium/PT-Root-UI_Medium.otf')
      format('opentype');
}

@font-face {
  font-family: 'PTRootLight';
  font-weight: 300;
  src: local('PTRootLight'),
    url('../assets/fonts/PTRoot/PT-Root-UI_Light/PT-Root-UI_Light.otf')
      format('opentype');
}

@font-face {
  font-family: 'PTRootBold';
  font-weight: bold;
  src: local('PTRootBold'),
    url('../assets/fonts/PTRoot/PT-Root-UI_Bold/PT-Root-UI_Bold.otf')
      format('opentype');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'PTRoot', sans-serif;
  font-weight: normal;
  line-height: 1.7;
  background-color: $color-white;
  color: $color-black;
  box-sizing: border-box;
}

@media (min-width: 720px) and (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 719px) {
  html {
    font-size: 35%;
  }
}
