@import './color.scss';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  margin-top: 10rem;

  h1 {
    font-family: 'PTRootBold';
    font-size: 4.2rem;
    text-align: center;
    line-height: 1;
    margin-bottom: 2rem;
  }

  p {
    font-size: 2rem;
    text-align: center;
    color: $color-light-black;
    line-height: 1.6;
    margin-bottom: 2rem;
  }

  .button-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 31rem;
  }

  .showcase-image {
    width: 90vw;
  }
}

@media (max-width: 719px) {
  .content {
    h1 {
      font-size: 4.6rem;
      margin-bottom: 4rem;
    }

    p {
      font-size: 2.8rem;
      margin-bottom: 3rem;
    }

    .button-content {
      width: 80vw;
      margin-bottom: 5rem;
    }
  }
}
